@import url("../jquery-ui.css");
@import url("../../bower/timepicker/jquery.ui.timepicker.css");
@import url("../../bower/jquery-ui-multiselect-widget/jquery.multiselect.css");
@import url("../../bower/datetimepicker/jquery.datetimepicker.css");
@import url("heating_forms.css");

.hidden, .no-close .ui-dialog-titlebar-close {
    display: none;
}

main h2 {
    font-size: 1.2em;
    margin: 0 0 5px 0;
    padding-left: 10px;
}

.zone-slots h2 span {
    font-size: 0.8em;
    font-weight: normal;
}

main h2 a {
    font-size: 0.7em;
    font-weight: normal;
    margin-left: 5px;
}

main table {
    border-collapse: collapse;
    text-align: center;
}


main th, main td {
    border: 1px solid black;
    padding: 1px 5px;
}

.urls {
    border: none !important;
}

.expl {
    font-size: 0.8em;
    font-weight: normal;
    margin: 0;
}

.slot-table a {
    margin-left: 3px;
}

#zone-tabs {
    font-size: 12px;
    margin-bottom: 10px;
}

#zone-tabs .ui-tabs-panel {
    height: 290px;
    padding: 5px;
    text-align: center;
}

#zone-tabs h2 {
    font-size: 1.2em;
    font-weight: normal;
    margin-top: 5px;
}

#zone-tabs canvas {
    background-color: white;
    border: 1px solid black;
    margin: auto;
}

label[for="del-btn"].ui-state-active {
    color: red;
    text-transform: uppercase;
}

#zone-tabs #del-zone {
    float: right;
}

.legend {
    margin: 0 auto;
    padding-top: 2px;
}

.legend > span {
    padding: 0 20px;
}

.legend-rect {
    display: inline-block;
    margin-right: 5px;
}

.legend-text {
    text-transform: uppercase;
    vertical-align: top;
}

.zone-slots, #derogation-list {
    margin-top: 10px;
    padding: 0.2em;
}

.derogation-js a .ui-button-text {
    font-size: 12px;
    padding: 0.3em 0.8em;
}

.derogation-js h2 {
    padding-top: 3px;
    padding-bottom: 3px;
}

.derogation-js table {
    margin: 10px auto 5px auto;
}

.derogation-js table thead {
    background-color: #FDEB88;
}

.derogation-js table th,
.derogation-js table td:not(.urls) {
    border: 1px solid #CCC;
    padding: 5px 20px;
}

.derog-check {
    margin: 0 auto;
}

.outdated-derog {
    opacity: 0.4;
}

.derog_mode_E {
    background-color: #B2FF7C;
}

.derog_mode_H {
    background-color: #B2B2C9;
}

.derog_mode_A {
    background-color: #FFB27C;
}

#pilotwirelog-loading {
    color: #87B6D9;
    margin-top: 120px;
}

#pilotwirelog-container {
    display: inline-block;
    height: 100%;
}

#pilotwirelog-table {
    border: 1px solid #87B6D9;
}

#pilotwirelog-table th {
    border: none;
    color: white;
    padding: 2px 10px;
    text-transform: uppercase;
}

#pilotwirelog-table thead {
    background-color: #87B6D9;
    display: block;
}

#pilotwirelog-table tbody {
    display: block;
    height: 270px;
    overflow-y: scroll;
}

#pilotwirelog-table thead tr th:nth-child(1),
#pilotwirelog-table tbody tr:first-child td:nth-child(1) {
    width: 115px;
}

#pilotwirelog-table thead tr th:nth-child(2),
#pilotwirelog-table tbody tr:first-child td:nth-child(2) {
    width: 60px;
}

#pilotwirelog-table thead tr th:nth-child(3),
#pilotwirelog-table tbody tr:first-child td:nth-child(3) {
    width: 500px;
}

#pilotwirelog-table tbody tr:nth-child(2n) {
    background-color: rgba(135, 182, 217, 0.2);
}

#pilotwirelog-table td {
    border: none;
    padding: 0px 10px;
}

#pilotwirelog-table .message-cell {
    text-align: left;
}

#pilotwirelog-table .info {
    color: green;
}

#pilotwirelog-table .warning {
    color: orange;
}

#pilotwirelog-table .error {
    color: red;
}
