{% extends "heating/heating_base.html" %}

{% block content %}

  <div id="zone-slots-nojs">
  {% for z in zone_list %}
    <div class="zone-slots" id='zone-slots-z{{ z.num }}'>
      <h2>Zone {{ z.num }}&nbsp;
        <span>{{ z.desc }}</span>
        <a class="create-url" href='{% url 'new_slot' zone=z.num %}'>Nouveau créneau</a>
      </h2>
      <table class="slot-table">
        {% if z.slot_set.count %}
        <thead>
        <tr>
          <th>Début</th><th>Fin</th><th>Lun</th><th>Mar</th><th>Mer</th>
          <th>Jeu</th><th>Ven</th><th>Sam</th><th>Dim</th>
          <th>Mode<p class="expl">(Eco/Hors-gel/Arrêt)</p></th>
        </tr>
        </thead>
        <tbody>
        {% for d in z.slot_set.all %}
        <tr class="slot-desc" id='pk-{{ d.pk }}'>
          <td class="start_time">{{ d.start_time|time:'H:i' }}</td>
          <td class="end_time">{{ d.end_time|time:'H:i' }}</td>
          <td class="mon">{% if d.mon %}X{% endif %}</td>
          <td class="tue">{% if d.tue %}X{% endif %}</td>
          <td class="wed">{% if d.wed %}X{% endif %}</td>
          <td class="thu">{% if d.thu %}X{% endif %}</td>
          <td class="fri">{% if d.fri %}X{% endif %}</td>
          <td class="sat">{% if d.sat %}X{% endif %}</td>
          <td class="sun">{% if d.sun %}X{% endif %}</td>
          <td class="mode">{{ d.mode }}</td>
          <td class="urls">
            <a class="edit-url" href='{% url 'update_slot' pk=d.pk %}'>Modifier</a>
            <a class="del-url" href='{% url 'del_slot' pk=d.pk %}'>Supprimer</a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
        {% endif %}
      </table>
    </div>
    {% endfor %}
  </div>

  <script type="text/javascript">
    (function() {
        document.querySelector('#zone-slots-nojs').classList.add('hidden');
    })();
  </script>

  <div class="show-if-js hidden" id="zone-tabs">
    <ul>
      {% for z in zone_list %}
      <li><a href='#tab-z{{ z.num }}'>Zone {{ z.num }}</a></li>
      {% endfor %}
    </ul>
    {% for z in zone_list %}
    <div id='tab-z{{ z.num }}'>
      <h2>{{ z.desc }}</h2>
      <canvas class="zone-canvas" id='can-z{{ z.num }}' height="235" width="1025">
        <p class="unsup">Le navigateur ne supporte pas la balise &lt;canvas&gt; !</p>
      </canvas>
    </div>
    {% endfor %}
  </div>

  <span class="show-if-js hidden" id="del-zone">
    <input id="del-btn" type="checkbox"></input><label for="del-btn">Suppression</label>
  </span>

  <div id="derogation-list">
    {# derogation_list template var is available in context thanks to "get_context_data" method override in "ZoneList" class #}
    <h2>Dérogations
      <a href='{% url 'new_derog' %}'>Nouvelle</a>
    </h2>
    <table>
      <thead><tr>
          <th>Active</th>
          <th>Création</th>
          <th>Prise d'effet</th>
          <th>Fin d'effet</th>
          <th>Mode</th>
          {% for z in zone_list %}
          <th>Z{{ z.num }}</th>
          {% endfor %}
      </tr></thead>
      <tbody>
        {% for d in derogation_list %}
        <tr>
          <td><span class="derog-check">
            {% if d.active %}X{% endif %}
          </span></td>
          <td>{{ d.creation_dt|date:"d F Y H:i" }}</td>
          <td>{{ d.start_dt|date:"d F Y H:i" }}</td>
          <td>{{ d.end_dt|date:"d F Y H:i" }}</td>
          <td>{{ d.get_mode_display }}</td>
          {% for z in zone_list %}
          <td><span class="derog-check">
             {% if z in d.zones.all %}X{% endif %}
          </span></td>
          {% endfor %}
          <td class="urls">
            <a href='{#% url 'del_derogation' pk=d.pk %#}'>Supprimer</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan='{{ zone_list.count|add:5 }}'>
            Aucune dérogation
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="form-container"></div>

{% endblock %}
    
